<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" routerLink="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/restro-list">
                    Hotel List
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/restro/manage-orders">
                    Manage Orders
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">
                    Sign Up
                </a>
            </li>

            <li class="nav-item" *ngIf="role == null">
                <a class="nav-link" routerLink="/login">
                    Login
                </a>
            </li>

            <li class="nav-item" *ngIf="role != null">
                <a  (click)="clear()" class="nav-link" routerLink="/home">
                    Logout
                </a>
            </li>

        </ul>

    </div>
</nav>